/* * {
    border: 1px solid cornflowerblue;
} */

body {
    color: #5d5d5d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.08em;
}

.container {
    margin-top: 20px;
    text-align: center;
}

.warning {
    color:#ffcc33;
    fill:#ffcc33;
}

.icon-large {
    width: 9em;
    height: 9em;
}

h1 {
    margin: 10px 0 10px 0;
    font-size: 2.3em;
}

.description-text > p {
    margin: 0px 0 10px 0;
    font-size: 1em;
}

strong {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-size: 1em;
}

.icon-mail {
    display: inline-flex;
    margin-left: 4px;
}

.icon-mail svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

a:link, a:visited {
    color: #5d5d5d;
}

a:hover {
    border-bottom: 1.8px solid #ffcc33;
}

a {
    text-decoration-line: none;
}

/* Animation CSS */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}